frame,detections
frame_000.png,5
frame_001.png,5
frame_002.png,6
frame_003.png,4
frame_004.png,5
frame_005.png,1
frame_006.png,4
frame_007.png,8
frame_008.png,4
frame_009.png,3
frame_010.png,6
frame_011.png,4
frame_012.png,5
frame_013.png,3
frame_014.png,4
frame_015.png,3
frame_016.png,3
frame_017.png,4
frame_018.png,4
frame_019.png,3
frame_020.png,4
frame_021.png,6
frame_022.png,2
frame_023.png,4
frame_024.png,5
frame_025.png,4
frame_026.png,2
frame_027.png,5
frame_028.png,2
frame_029.png,3
